dialog {
  transition: all 200ms allow-discrete;
  @starting-style {
    transform: translateY(20px);
  }
  h1 {
    margin-top: 0;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .close-button {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 16px;
    height: 16px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .save-button {
    align-self: center;
  }
}
