html {
  font-family: sans-serif;
}
button {
  border: 1px solid black;
  border-radius: 0;
  background-color: transparent;
  padding-inline: 0;
  padding: 4px 8px;
  margin: 0;
  cursor: pointer;
  font-family: sans-serif;
}
