.new-user {
  font-size: 0.67em;
  background-color: darkgreen;
  color: white;
  padding: 2px 6px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
  td {
    border: 1px solid black;
    padding: 0 18px 0 18px;
  }
  tbody {
    tr {
      td.user-id-cell {
        padding-left: 0;
        .flex {
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          text-align: right;
          gap: 18px;
          .user-id:only-child {
            margin-left: auto;
          }
        }
      }
      &:hover {
        background-color: lightgray;
        cursor: pointer;
      }
      td.placeholder-cell {
        width: 105px;
        height: 1em;
        animation: shimmer 1s ease-in-out infinite alternate;
      }
    }
  }
}

@keyframes shimmer {
  0% {
    background-color: #eeeeee;
  }
  100% {
    background-color: #aaaaaa;
  }
}
