<app-error-toast />
<table class="bg-[#fcfcf9] border-separate border-spacing-0 border-stone-300 border-2 rounded-lg shadow-md">
  <thead>
    <tr class="bg-amber-200">
      <th class="py-1 px-4 align-text-top">ID</th>
      <th class="py-1 px-4 align-text-top">First Name</th>
      <th class="py-1 px-4 align-text-top">Last Name</th>
      <th class="py-1 px-4 align-text-top">Created At</th>
    </tr>
  </thead>
  <tbody>
    @if (users().length > 0) {
      @for (user of users(); track user.id) {
        <!-- Clicking row takes us to the edit page for user -->
        <tr [routerLink]="['edit', user.id]" class="cursor-pointer hover:bg-amber-100 transition-all duration-100">
          <td class="py-1 px-4 align-text-top">
            <div class="flex items-stretch gap-2 justify-between text-right">
              @if (isWithinMonth(user.createdAt)) {
                <span class="bg-green-800 text-white px-1 rounded-md flex items-center justify-center text-center leading-5">New User</span>
              }
              <span class="ml-auto">{{ user.id }}</span>
            </div>
          </td>
          <td class="py-1 px-4 align-text-top">{{ user.firstName }}</td>
          <td class="py-1 px-4 align-text-top">{{ user.lastName }}</td>
          <!-- format dates in UTC since no timezone is given -->
          <td class="py-1 px-4 align-text-top">{{ user.createdAt | date:'mediumDate':'+0000' }}</td>
        </tr>
      }
    } @else {
      <!-- Show placeholders when loading -->
      <tr>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
      </tr>
      <tr>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
      </tr>
      <tr>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400 border-b-stone-400 border-b"></td>
      </tr>
      <tr>
        <td class="w-36 h-8 animate-pulse bg-amber-400"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400"></td>
        <td class="w-36 h-8 animate-pulse bg-amber-400"></td>
      </tr>
    }
  </tbody>
</table>

<router-outlet />
